<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @article.text %>
</p>

<p>
  <strong>Categoty:</strong>
  <%= @article.category&.title %>
</p>

<h2>Comments</h2>
<%= render partial: "web/articles/comments/comment", collection: @article.comments %>

<h2>Add a comment:</h2>
<%= render 'web/articles/comments/form' %>


<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %> |

<%= button_to 'Send to moderation', moderate_article_path(@article), method: :patch %>