<h1>Articles: </h1>

<%= search_form_for @q, url: moderation_articles_path do |f| %>
  <%= f.label :title_cont %>
    <%= f.search_field :title_cont %>

    <%= f.label :state_eq %>
    <%= f.select :state_eq, ['', 'draft', 'moderation', 'published'] %>
   <%= f.submit %>
 <% end %>

<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
  </tr>
  <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.text %></td>
      <td><%= link_to 'Show', moderation_article_path(article) %></td>
      <td><%= link_to 'Edit', edit_moderation_article_path(article) %></td>
      <td><%= link_to 'Publish', publish_moderation_article_path(article), method: :patch %></td>
    </tr>
  <% end %>
</table>
